.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    width: 300px;
    height: 500px;
    border-radius: 15px;
    text-align: center;
}
.text{
    border: 2px solid;
    width: 140px;
    height: 140px;
}